.in{
    padding:  10%;
    text-align: center;
    background-image: url(../12.jpg);
    background-attachment: fixed;
    
  }
  .in-b{
    
    text-align: center;
    background-color: #F9F7F2;
  }
  
  
  
  